<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- JDBC properties -->
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">Pdrocks20!</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres?currentSchema=fantasyfootball</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<!-- Hibernate properties -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.default_schema">fantasyfootball</property>
		<!-- Hibernate console output -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<!-- DDL -->
		<property name="hibernate.hbm2ddl.auto">create</property>
		
		<!-- Map classes in models package -->
		<mapping class="com.payton.models.League"/>
		<mapping class="com.payton.models.Match"/>
		<mapping class="com.payton.models.Players"/>
		<mapping class="com.payton.models.PlayerStats"/>
		<mapping class="com.payton.models.Team"/>
		<mapping class="com.payton.models.User"/>
		<mapping class="com.payton.models.UserTeam"/>
		<mapping class="com.payton.models.UserTeamPlayer"/>
	
	
	</session-factory>
</hibernate-configuration>